

.btn-xlarge {
    padding: 2% !important;
    border-radius: 30px !important;
    font-size: 3rem !important;
    /*vertical-align: center !important;
    border-width: 0 !important;*/
    }

h5 a:hover {
    color: dimgrey !important;
     text-decoration: none !important;
}
/*a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover*/