
.btn-xlarge {
    padding: 2% !important;
    border-radius: 30px !important;
    font-size: 3rem !important;
    border-width: 0 !important;
    }

div.card a {
    text-decoration:none !important;
    color:inherit !important;
}

div.card a:hover {
    color: green !important;
}
/*a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover*/